<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ve.com.abicelis.androidcodetestalejandrobicelis">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".application.AndroidCodeTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">

        <!--FILE PROVIDER FOR CAMERA-->
        <provider
            android:authorities="ve.com.abicelis.androidcodetestalejandrobicelis.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.imageedit.ImageEditActivity"/>
        <activity android:name=".ui.contactdetail.ContactDetailActivity"/>
        <activity android:name=".ui.contactedit.ContactEditActivity"/>
        <activity
            android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
